header
{
    background-image: linear-gradient(to bottom right,#0000ff, #3399ff);
    margin-top: 15px;
    height: 100px;  
    border-style: inset;
}
h1
{
	-webkit-text-fill-color: #1aff1a; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	margin-top: 25px;
	text-align: center;
    font-variant: small-caps;
    font-size:50px;
    font-style: italic;

}
img
{
	  background: rgba(19,49,76,0.8);
    padding: 10px 25px;
    border-radius: 10px;
    margin-left:50px;
    float: right;
}
nav
{
  position: fixed;
  margin-left: 20px;
	float: left;
}
.c1,.c2,.c3,.c4,.c5
{
	  vertical-align: baseline;
	  display: inline-block;
   	border-radius: 30px;
  	border-style: outset;
  	background-image: linear-gradient(to top right,#66ffff,#66ffff);
  	padding: 10px;
  	transition: 0.2s;  

}
.c1:hover,.c2:hover,.c3:hover,.c4:hover,.c5:hover
{
	  opacity: 1;
    transform: translateX(5px);
}
p
{
  font-family: Apple Chancery, cursive;
  font-size: 125%;
  margin-left:90px;
  margin-right:350px;
  margin-top:30px;
  border: #808080 3px outset;
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(to top right,#33ccff,#ff99cc);
}
#m1
{
  text-align: right;
}
#f1
{
  display: inline;
  font-family: Apple Chancery, cursive;
  font-size: 125%;
  border: #808080 3px outset;
  border-radius: 20px;
  padding: 5px;
  background-image: linear-gradient(to top right,#33ccff,#ff99cc);
  position: absolute;
  bottom: 10px;  
}
a:link
{
  color:#0000e6; /*Blue*/
}
a:hover
{
  color: #ff0066;/*pink*/
}

a:active
{
  color:  #808080;/*gray*/
}
